
<div class="mw1440 center flex items-center justify-between flex-wrap flex-nowrap-l pa4 ds-border-bottom header-nav scorpion-on-white">
  <div class="flex flex-column justify-center tc-s pb-s">
    <h1 class="ds-blue ma0 site-title">
      <a class="color--inherit text-decoration--none" href="{{ i18n "learn_more" }}">
        {{ i18n "brand" }} Spectra<span class="ent-reg">{{ i18n "brand_symbol" }}</span> ST + {{ i18n "brand" }} Spectra<span class="ent-reg">{{ i18n "brand_symbol" }}</span> ST Effects
      </a>
    </h1>
    <h2 class="ds-blue ma0 site-subtitle">
      <a class="color--inherit text-decoration--none" href="https://www.dentsplysirona.com/en-us/products/restorative/tph-spectra-st-effects.html">
        Universal Composite Restorative
      </a>
    </h2>
  </div>

  {{ partial "logo" . }}
</div>
