<div class="slide-wrapper flex flex-row">
  <div class="slide-text w-100">
    <h2 class="gotham ds-blue">{{ .Params.title }}</h2>
    <h3 class="gotham">{{ .Params.subtitle }}</h3>
    <p>{{ .Summary | safeHTML }}</p>
    <div class="legend">
      {{ range .Params.legend }}
      <div class="legend-item">
        <div class="legend-color {{ .color }}"></div>
        <p class="gotham">{{ .text }}</p>
      </div>
      {{ end }}
    </div>
  </div>

  {{ if (.Params.obj) }}
    <div class="slide-object threed-object overflow-hidden" data-obj="{{ .Params.obj }}" data-mtl="{{ .Params.mtl }}">
      <img src="/img/{{ .Params.placeholder }}" alt="" />
    </div>
  {{ else }}
    <div class="slide-object threed-object overflow-hidden">
      <img src="/img/{{ .Params.placeholder }}" alt="" />
    </div>
  {{ end }}
</div>
