<div class="slide-wrapper flex flex-row">
  <div class="slide-text w-100">
    <h2>{{ .Params.title }}</h2>
    <p>{{ .Params.text }}</p>
    <div class="legend">
    </div>
    <div class="prev-next flex">
      {{ if (.Params.prev) and (.Params.next) }}
      <a href="{{ .Params.prev }}" class="button">Previous</a>
      <a href="{{ .Params.next }}" class="button btn-orange">Next</a>
      {{ else if (.Params.prev) }}
      <a href="{{ .Params.prev }}" class="button">Previous</a>
      <a href="/" class="button btn-orange">Start Over</a>
      {{ else if (.Params.next) }}
      <a href="{{ .Params.next }}" class="button btn-orange">Get Started</a>
      {{ end }}
    </div>
  </div>

  {{ if (.Params.obj) }}
    <div class="slide-object threed-object overflow-hidden" data-obj="{{ .Params.obj }}" data-mtl="{{ .Params.mtl }}">
      <img src="/img/{{ .Params.placeholder }}" alt="" />
    </div>
  {{ else }}
    <div class="slide-object threed-object overflow-hidden">
      <img src="/img/{{ .Params.placeholder }}" alt="" />
    </div>
  {{ end }}
</div>
