{{ partial "header" . }}
{{ partial "nav" . }}

<div id="landing-page" class="mw1440 center container ph2">
  <div class="mw1150 center mv6">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "slide").ByWeight }}
      <ul class="pagination pa0 relative">
        <hr class="pagination-connect">
        {{ range $paginator.Pagers }}
        <li class="page-number pa3 br-100 dib w2 h2 overflow-hidden {{ if eq . $paginator }}current-page{{ end }}">
          <a class="db white lh2 link pa1 absolute b" href="{{ .URL }}"><span>{{ sub .PageNumber 1 }}</span></a>
        </li>
        {{ end }}
      </ul>
      {{ range (.Paginator 1).Pages }}
        {{ if eq $paginator.PageNumber 2 }}
        <div id="instruct-overlay" class="instructions full-width mt6">
          <img src="img/Instructions.png" />
          <div class="close-out absolute">
            <div id="closeout">
              <img src="img/close-out.png" />
            </div>
          </div>
        </div>
        {{ end }}

      <div>
        {{ .Render "single"  }}
      </div>

      {{ end }}
      <div class="prev-next flex">
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}" class="gotham button">Previous</a>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}" class="gotham button btn-orange">{{ if eq $paginator.PageNumber 1 }}Get Started{{ else }}Next{{ end }}</a>
        {{ end }}
        {{ if eq $paginator.PageNumber 7 }}
          <a href="{{ "/" | relLangURL }}" class="gotham button btn-orange">Start Over</a>
        {{ end }}
      </div>
      {{ if eq $paginator.PageNumber 7 }}
      <a href="{{ i18n "learn_more" }}" target="_blank" class="gotham button btn-2x btn-blue w-100">Learn more about {{ i18n "brand" }} Spectra<span class="ent-reg">{{ i18n "brand_symbol" }}</span> ST Composites</a>
      {{ end }}

</div>

{{ partial "footer" . }}
